@media screen and (max-width:768px) {
    h1{
        font-size: 3rem;
        line-height: 4rem;
    }
    h2{
        font-size: 1.9rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h4{
        font-size: 1rem;
    }
    p{
        font-size: .9rem;
    }
    #nav-menu{
        display: block;
        margin-right: 30px;
        font-size: 1.4rem;
        color: white;
    }
    #nav-link{
        position: absolute;
       flex-direction: column;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 10px;
        transition: 0.25s ease-out;
    }
    #nav-link>ul{
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.596);
    }
    #nav-link.active{
        left: 0;
    }


    .main-detail>:nth-child(1){
        width: 100%;
    }
    .main-detail img{
        display: none;
    }
    .main-detail{
        padding: 0.3rem;
    }
    .search-domain{
        flex-direction: column;
        height: 90vh;
        gap: 20px;
    }
    .search-domain>:nth-child(1){
        width: 100%;
    }
    .search-domain>:nth-child(2){
        width: 100%;
    }


     /* FEATURE SECTION*/

    .feature>div{
        gap: 0rem;
    }
    .feature{
        padding: .8rem;
    }
    .feature>div>div{
        width: 48%;
        margin-top: 1rem;
        /* border: 2px solid; */
        height: fit-content;
    }

    /* PLAN SECTION*/
    .plan{
        height:300vh;
        padding: 5rem 1rem;
    }
    .plan>div>div{
        width: 48%;
    }
    .plan>div>div{
      
        height: fit-content;
    }

     /* SERVER SECTION*/

     .server{
        flex-direction: column;
        padding: 5rem 1rem 1rem 1rem;
        margin-top: 13rem;
        gap: 1rem;

        
        
     }
     .server>:nth-child(1){
        width: 100%;
    }
    .server>:nth-child(2){
         gap: .1rem;
         padding: .5rem;
        width: 100%;
     }
     .server>div img{
        width: 60%;
     }

      /* SUPPORT SECTION*/
      .support{
        flex-direction: column-reverse;
        padding: 1rem 1rem 1rem 1rem;
        margin-top: 1rem;
        gap: 1rem;

        
        
     }
     .support>:nth-child(1){
        width: 100%;
        gap: .1rem;
        padding: .5rem;
     }
     .support>:nth-child(2){
        width: 100%;
     }
     .support>div img{
        width: 60%;
    
     }

     /* QUESTION SECTION*/
     .question>div{
        row-gap: 5rem;

     }
     .question button{
        margin-top: 6.5rem;
        width: 40%;
     }

     /* TESTOMONIAL SECTION */

     .testomonial{
        padding: 2rem 1rem;
     }


    /* FOOTER  */

    footer>img{
        height: 100%;
    }
    .footer-main{
        row-gap: 2rem;
        padding: 1rem;
    }
    .footer-main>div{
        width: calc(50% - 10px);
        
    }
    #footer-left{
        width: 50%;
    }
    footer>:nth-last-child(1){
        margin-top: 1rem;
    }


}
@media screen and (max-width:480px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.1rem;
    }
    h4{
        font-size: 1rem;
    }
    p{
        font-size: .8rem;
    }
    .main-detail img{
        display: none;
    }

     /* FEATURE SECTION*/

    .feature{
        padding-top: 3rem;
    }
    .feature>div{
        gap: 1rem;
        padding-bottom: 2rem;
    }
    .feature>div>div{
        width: 100%;
    
    }

    /* PLAN SECTION*/

    .plan{
        height: 500vh;
        padding: 3rem 1rem;
    }
    .plan>div{
        gap: 1rem;
    }
    .plan>div>div{
        width: 100%;
        padding-top: 1rem;
    }
    .plan>p{
        width: 100%;
    }
     /* SERVER SECTION*/
       .server{
        margin-top: 0;
        padding-top: 0;
       }

      /* SUPPORT SECTION*/
       .support button{
        width: 100%;
       }
       .support>div img{
        object-fit: cover;
       }

         /* QUESTION SECTION*/

        .question{
            padding: .4rem;
        }
        .question>div{
            row-gap: 2rem;
    
         }
         .ask-qstn{
            width: 100%;
         }
         .question button{
            margin-top: 3rem;
            width: 40%;
         }
            /* TESTOMONIAL SECTION */

     .testomonial{
        padding: 5rem 1rem;
     }

      /* FOOTER  */

    footer>img{
        height: 100%;
    }
    .footer-main{
        row-gap: 1rem;
        padding: 1rem;
    }
    .footer-main>div{
        width: 100%;
        
    }
    #footer-left{
        width: 100%;
    }
    footer>:nth-last-child(1){
        margin-top: 1rem;
    }
}
